@media (min-width: 500px) {
   /* li.NavItem  {
       
        position: static;
    }
    li.NavItem:hover   {
        background-color: blue;
        
    }
    li.NavItem > div {
        width:100%;
        margin: -0.125rem 0 0;
    }
    
    li.NavItem > a{
        padding: 20px 30px  !important;
    }
    li.NavItem > a:hover{
        color: white;
    }
    */
}